<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<appSettings>
		<add key="DataSource" value="LIN0100001" />
		<add key="DatabaseName" value="FeedbackCollection" />
		<add key="Username" value="sa" />
		<add key="Password" value="sa@1234" />
	</appSettings>
  <!--<connectionStrings>
    <add name="FeedbackCollectionEntities" connectionString="metadata=res://*/Models.FeedbackModel.csdl|res://*/Models.FeedbackModel.ssdl|res://*/Models.FeedbackModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIN0100001;initial catalog=FeedbackCollection;persist security info=True;user id=sa;password=sa@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>